language:
  - cpp
  - python
python:
  - "2.7"
compiler:
  - gcc
  # TEST_TYPE:
  #        1 : Check if this PR works with current downstream package
  #        2 : Check if this PR works with 315.1.10
env:
  - TEST_PACKAGE=hrpsys
  - TEST_TYPE=work_with_downstream  TEST_PACKAGE=hrpsys-tools
  - TEST_TYPE=work_with_315_1_10    TEST_PACKAGE=hrpsys-tools
  - TEST_TYPE=work_with_downstream  TEST_PACKAGE=hrpsys-ros-bridge
  - TEST_TYPE=work_with_315_1_10    TEST_PACKAGE=hrpsys-ros-bridge
  - TEST_TYPE=work_with_downstream  TEST_PACKAGE=hironx-ros-bridge
  - TEST_TYPE=work_with_315_1_10    TEST_PACKAGE=hironx-ros-bridge
script: source .travis.sh


