cache: apt
language:
  - cpp
  - python
python:
  - "2.7"
compiler:
  - gcc
notifications:
  slack: jsk-robotics:Av7tc8wj3IWkLYvlTzHE7x2g
  # TEST_TYPE:
  #        1 : Check if this PR works with current downstream package
  #        2 : Check if this PR works with 315.1.10
env:
  global:
    - secure: "ESSo9YL0lUB0nnlFIL1vV7zpOyZjgTign4IZR735laiylPjOLKW4BkP9JxT5alA9ip72qbpDKI192Ed3sSkWjjQxhM+/HIjtyOy5/F6U5wfvxWudorJeF4zCy4OBD7Bp9JWqucAkRmd5Qe3Djaih69rAK31IFeNhQ2Ebz6RWVGk="
  matrix:
    # test for normal hrpsys users, this will not depends on any ROS-related tools
    - TEST_PACKAGE=hrpsys
    - TEST_PACKAGE=hrpsys USE_SRC_OPENHRP3=true
    - TEST_PACKAGE=hrpsys   COMPILE_OPTION='-DROBOT_IOB_VERSION=0'
    - TEST_TYPE=python      TEST_PACKAGE=hrpsys
    - TEST_TYPE=iob         TEST_PACKAGE=hrpsys
    - TEST_TYPE=stable_rtc  TEST_PACKAGE=hrpsys
    # compile source code with ros-related tools, they are compiled with catkin and test with rostest
    #    Exec USE_SRC_OPENHRP3=true tests in faster orders to make debug of these tests easy.
    - TEST_TYPE=work_with_downstream  TEST_PACKAGE=hironx-ros-bridge USE_SRC_OPENHRP3=true
    - TEST_TYPE=work_with_315_1_10    TEST_PACKAGE=hironx-ros-bridge USE_SRC_OPENHRP3=true
    #    USE_SRC_OPENHRP3=false tests
    - TEST_TYPE=work_with_downstream  TEST_PACKAGE=hrpsys-base
    - TEST_TYPE=work_with_315_1_10    TEST_PACKAGE=hrpsys-base
    - TEST_TYPE=work_with_downstream  TEST_PACKAGE=hrpsys-tools
    - TEST_TYPE=work_with_315_1_10    TEST_PACKAGE=hrpsys-tools
    - TEST_TYPE=work_with_downstream  TEST_PACKAGE=hrpsys-ros-bridge
    - TEST_TYPE=work_with_315_1_10    TEST_PACKAGE=hrpsys-ros-bridge
    - TEST_TYPE=work_with_downstream  TEST_PACKAGE=hironx-ros-bridge
    - TEST_TYPE=work_with_315_1_10    TEST_PACKAGE=hironx-ros-bridge
script: source .travis.sh
after_success:
  - set +x
  - export GIT_COMMITTER_NAME=$GIT_NAME
  - export GIT_COMMITTER_EMAIL=$GIT_EMAIL
  - export GIT_AUTHOR_NAME=$GIT_NAME
  - export GIT_AUTHOR_EMAIL=$GIT_EMAIL
  - echo "TRAVIS_PULL_REQUEST=$TRAVIS_PULL_REQUEST TRAVIS_BRANCH=$TRAVIS_BRANCH TEST_PACKAGE=$TEST_PACKAGE TEST_TYPE=$TEST_TYPE"
  - if [ "$TRAVIS_PULL_REQUEST" == "false" -a "$TRAVIS_BRANCH" == "master" -a "$TEST_PACKAGE" == "hrpsys" -a "$TEST_TYPE" == "" ]; then cd ~/;            fi
  - if [ "$TRAVIS_PULL_REQUEST" == "false" -a "$TRAVIS_BRANCH" == "master" -a "$TEST_PACKAGE" == "hrpsys" -a "$TEST_TYPE" == "" ]; then git clone --branch gh-pages https://github.com/$TRAVIS_REPO_SLUG doc;  fi
  - if [ "$TRAVIS_PULL_REQUEST" == "false" -a "$TRAVIS_BRANCH" == "master" -a "$TEST_PACKAGE" == "hrpsys" -a "$TEST_TYPE" == "" ]; then cd doc;           fi
  - if [ "$TRAVIS_PULL_REQUEST" == "false" -a "$TRAVIS_BRANCH" == "master" -a "$TEST_PACKAGE" == "hrpsys" -a "$TEST_TYPE" == "" ]; then cp -r ~/build/doc/html/* ./; fi
  - if [ "$TRAVIS_PULL_REQUEST" == "false" -a "$TRAVIS_BRANCH" == "master" -a "$TEST_PACKAGE" == "hrpsys" -a "$TEST_TYPE" == "" ]; then git status;                  fi
  - if [ "$TRAVIS_PULL_REQUEST" == "false" -a "$TRAVIS_BRANCH" == "master" -a "$TEST_PACKAGE" == "hrpsys" -a "$TEST_TYPE" == "" ]; then git add -f .;                  fi
  - if [ "$TRAVIS_PULL_REQUEST" == "false" -a "$TRAVIS_BRANCH" == "master" -a "$TEST_PACKAGE" == "hrpsys" -a "$TEST_TYPE" == "" ]; then git commit -m "Build documents from $TRAVIS_COMMIT" . ; fi
  - if [ "$TRAVIS_PULL_REQUEST" == "false" -a "$TRAVIS_BRANCH" == "master" -a "$TEST_PACKAGE" == "hrpsys" -a "$TEST_TYPE" == "" ]; then git remote -v; fi
  - if [ "$TRAVIS_PULL_REQUEST" == "false" -a "$TRAVIS_BRANCH" == "master" -a "$TEST_PACKAGE" == "hrpsys" -a "$TEST_TYPE" == "" ]; then git push --quiet https://$GH_TOKEN@github.com/$TRAVIS_REPO_SLUG.git gh-pages; fi





