<launch>
 <!--
 this is example file for HRP4-C robot

 $ roslaunch hrpsys hrp4c.launch
 $ rosrun    hrpsys hrp4c-motion.py

If you does not have hrp4c robot model, download the data first
 $ rosrun    hrpsys hrp4c_model_download.sh
  -->
  <!-- BEGIN:common setting -->
  <env name="LANG" value="C" />
  <env name="ORBgiopMaxMsgSize" value="2147483648" />
  <arg name="corbaport" default="15005" />
  <arg name="GUI" default="true" />
  <env name="ROS_HOME" value="$(find hrpsys)/share/hrpsys/samples/HRP4C/" />
  <!-- END:common setting -->

  <arg unless="$(arg GUI)" name="hrpsys_gui_args" value="-endless -realtime -nodisplay" />
  <arg     if="$(arg GUI)" name="hrpsys_gui_args" value="-endless -realtime " />


  <node name="start_omninames" pkg="hrpsys" type="start_omninames.sh" args="$(arg corbaport)" />

  <node name="modelloader" pkg="openhrp3" type="openhrp-model-loader"
        args="-ORBInitRef NameService=corbaloc:iiop:localhost:$(arg corbaport)/NameService" output="screen"/>

  <node name="hrpsys" pkg="hrpsys" type="hrpsys-simulator"
        args='$(find hrpsys)/share/hrpsys/samples/HRP4C/HRP4C.xml -o manager.is_master:YES -o naming.formats:%n.rtc -o exec_cxt.periodic.rate:1000000 -o manager.shutdown_onrtcs:NO -o manager.modules.load_path:$(find hrpsys)/lib -o manager.modules.preload:HGcontroller.so -o manager.components.precreate:HGcontroller -o exec_cxt.periodic.type:SynchExtTriggerEC -f $(find hrpsys)/share/hrpsys/samples/HRP4C/rtc.conf -o "example.RobotHardware.config_file:$(find hrpsys)/share/hrpsys/samples/HRP4C/HRP4C.conf" -o "example.SequencePlayer.config_file:$(find hrpsys)/share/hrpsys/samples/HRP4C/HRP4C.conf" -o "example.StateHolder.config_file:$(find hrpsys)/share/hrpsys/samples/HRP4C/HRP4C.conf" -o "example.ForwardKinematics.config_file:$(find hrpsys)/share/hrpsys/samples/HRP4C/HRP4C.conf" -o "corba.nameservers:localhost:$(arg corbaport)" $(arg hrpsys_gui_args)'
        output="screen"  cwd="node" />

</launch>